/* body {
    background-color: lightblue;
} */


/* header {
    width: 240%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
} */

.title {
    display: inline-block;
}

.title.one {
    width: 40%;
    margin-left: 5%;
    color: #1fd2b2;
    font-family: 'Carter One', cursive;
    font-family: 'Courgette', cursive;
}

.title.two {
    /* padding-left: 0px; */
    background-color: #6d42ad;
    width: 50%;
}

ul {
    text-decoration: none;
    list-style: none;
}

li a {
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Courgette', cursive;
}

ul {
    width: 100%;
    /* background-color: #6d42ad; */
}

ul li {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
}

.contentprinci {
    padding-top: 3%;
}

.content {
    display: inline-block;
}

.content.one {
    width: 50%;
    margin-left: 5%;
}

.imgcont {
    margin: 10%;
    margin-left: 20%;
}

.imagen {
    display: inline-block;
    margin: 8%;
    border: solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.text {
    text-align: justify;
}